<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Transação</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">FinControle</div>
        <div class="itens_menu_header">
            <ul id="itens_menu">
                <li><a href="index.html">Conta</a></li>
                <li><a href="investimentos.html">Investimento</a></li>
                <li><a href="gastos.html">Gastos</a></li>
                <li><a href="transacoes.html" class="active">Transações</a></li>
                <li><a href="login.html">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>

       
        <i id="menu_mob" class="fa-solid fa-bars"></i>
       
    </header>

    <main>
        <section>
            <div class="line_top">
                <h1>Adicionar Transação</h1>

                <div class="icon_user">
                    <a href="transacoes.html"><i class="fa-solid fa-reply"></i></a>
                    <a id="return" href="transacoes.html">
                        <p>voltar</p>
                    </a>
                </div>
            </div>
        </section>


        <section class="container_infos">
            <form action="transacoes.html" class="formulario" id="fm" >
                <div class="descricao">
                    <label for="description_input">Descrição da transação:</label>
                    <input type="text" name="description_input" id="description_input" required>
                </div>

                <div class="valor">
                    <label for="value_input">Valor da transação:</label>
                    <input type="number" name="value_input" id="value_input" required>
                </div>
               
               <div class="selectt">
                    <label for="Entry">Selecione o tipo:</label>
                    <select name="type" id="type" required>
                        <option value="options" selected disabled>----</option>
                        <option value="entrada" id="entrada">Entrada</option>
                        <option value="saida" id="saida">Saída</option>
                    </select>
               </div>

               <div class="btnAdicionarTransacao">
                    <button id="btntransacao">Adicionar</button>
               </div>
               

            </form>
            
        </section>

    </main>
</body>
<script src="./src/js/menu.js"></script>
<script src="./src/js/formAddTransaction.js"></script>
</html>