<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <h1>FinControle</h1>
    <form class="card_login" action="index.html" method="POST">
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email_input" required>
        </div>

        <div class="senha">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha_input" required>
        </div>

        <div class="senha">
            <label for="senha">Confirmar Senha:</label>
            <input type="password" name="senha" id="senha_input" required>
        </div>
       <span></span>
        <button>Cadastrar</button>
      
    </form>
</body>
</html>