<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investimentos</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./js/investimentos.js"></script>
    <script src="./js/integracaoAPI.js"></script>
    <script src="./js/util.js"></script>
<!-- <script src="./src/js/menu.js"></script> -->

</head>
<body>
    <header>
        <div class="logo">FinControle</div>
        <div class="itens_menu_header">
            <ul id="itens_menu">
                <li><a href="index.html">Conta</a></li>
                <li><a href="investimentos.html" class="active">Investimentos</a></li>
                <li><a href="gastos.html">Gastos</a></li>
                <li><a href="lancamentos.html" >Lançamentos</a></li>
                <li><a href="login.html">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>

       
        <i id="menu_mob" class="fa-solid fa-bars"></i>
       
    </header>

    <main>
        <section>
            <div class="line_top">
                <h1>Investimentos</h1>

                <div class="icon_user">
                    <p>total investido:</p>
                    <p id="totalInvestido">0</p>
                </div>
            </div>
        </section>


        <section class="listaCards">
            <div class="cards_investimentos" id="listaCards">                

          
            </div>
        </section>

        <div class="btnAdd">
            <a href="adicionarInvestimento.html">Adicionar</a>
        </div>
    </main>
</body>

</html>