<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/login.js"></script>
    <script src="./js/integracaoAPI.js"></script>

</head>
<body>
    <h1>FinControle</h1>
    <form class="card_login" action="#">
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email_input" required>
        </div>

        <div class="senha">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha_input" required>
        </div>
        <a onclick="RedirectCriarUsuario()">Não tem conta? crie uma aqui</a>
        <button onclick="FazerLogin()">Login</button>
       
    </form>
</body>
</html>