.cards_investimentos{
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

.card_investimento{
    width: 220px;
    height: 260px;
    background-color: #fff;
    box-shadow: 3px 3px 5px #0000002f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
    justify-content: center;
}

.card h4{
    color: #6E6767;
}



@media screen and (max-width: 700px) {
    .cards_investimentos{
        margin: 50px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
}